extends ../master.pug

block main
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
    }
  main.articles-category
    h1 #{publicationsData.category.title}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            if category.id !== publicationsData.category.id
              a.themes__item-link(href=`/articles/category/${category.id}`) #{category.title}
                sup #{category.count}
            else
              span.themes__item-link.themes__item-link--active #{category.title}
                sup #{category.count}
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article of publicationsData.currentPublications
          li.preview__item
            ul.preview__breadcrumbs
              each category of article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.title}
            .preview__background
              img.preview__background-image(src='img/skyscraper@1x.jpg' width='460' height='240' srcset='img/skyscraper@1x.jpg 1x, img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
            time.preview__time(datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
            h3.preview__name
              a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
            p.preview__text #{article.announcement}
            a.preview__comment(href=`/articles/${article.id}`) Комментарии
              span.preview__cloud
              b.preview__comment-count 12
    +pagination(page, totalPages, 2, `?`)
