mixin insertErrorMessage(messages)
  if messages
    .server-error
      each message of messages
        .server-error__item= message

mixin pagination(page, totalPages, width, prefix)
    -
      let start = page - width;
      let end = page + width;
      if (start < 1) {
        end += 1 - start;
        start = 1;
      }
      if (end > totalPages) {
        start -= end - totalPages;
        end = totalPages;
      }
      if (start < 1) {
        start = 1;
      }
      let i = start - 1
    if totalPages > 1
      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          if start > 1
            li
              a.pagination__button.button.button--backwards(href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
          while i++ < end
            li.pagination__item(class=(i === page ? 'pagination__item--active' : ''))
              a(href=`${prefix}page=${i}`)= i
          if end < totalPages
            li
              a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}` aria-label='Страница вперед') Вперёд
mixin formatDate(dateString, formatStyle)
  -
    const localStringOptions = {
      [`DD.MM.YYYY`]: {year: 'numeric', month: 'numeric', day: 'numeric'},
      [`DD.MM.YYYY, HH:MM`]: {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'},
      [`defaultDateStyle`]: {year: 'numeric'},
    };
    const date = new Date(dateString);
    const formatedDate = date.toLocaleString([], localStringOptions[formatStyle]);
  | #{formatedDate}