extends ../master.pug

block variables 
  - wrapperClassName = 'wrapper wrapper--nobackground'

block main
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'});
    }
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment, lastCommentIndex in lastComments
          li(class='publication__list-item js-card' class=((lastCommentIndex === lastComments.length - 1) ? `publication__list-item--last` : ``))
            .publication__header
              img.publication__list-image(src=(comment[`users.avatar`] ? `img/${comment[`users.avatar`]}` : 'img/default-avatar.png') width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name #{comment[`users.name`]} #{comment[`users.surname`]}
              time.publication__item-time(datetime='2019-03-21T20:33') #{formatDate(comment.createdAt)}
            a.publication__item-text(href=`/articles/${comment.publicationId}`) #{comment.text}
            p.publication__text-strong #{comment[`Publication.title`]}
            button.publication__button.button.button--close-item.js-delete-comments(type='button' data-delete=`/articles/${comment.publicationId}/comments/${comment.id}`)
              span.visually-hidden Закрыть строку списка
